extends ../layout

block content
  h2.display-data Изтрийте сигнала?
            
  table.table.table-bordered
    tr
      th Данни
      th Стойност
        tr
          td Тип
          td= display(signal.type)
        tr
          td Институция
          td= display(signal.institution)
        tr
          td URL на форма
          td= display(signal.url)
        tr
          td E-mail
          td= display(signal.email)
        tr
          td Етикети
          td= display(signal.tags)
        tr
          td Категория
          td= display(signal.category)
        tr
          th Подробности
          th 
        tr
          td Мултиезичност
          td= display(signal.i18n)
        tr
          td Гаранция за отговор
          td= display(signal.answerGuarantee)
        tr
          td Време за отговор
          td= display(signal.answerTimeFrame) 
            if typeof signal.answerTimeFrame !== undefined
            |  дни
        tr
          td Позволява ли анонимен сигнал
          td= display(signal.anonimity)
        tr
          td Има ли верификация на сигнал
          td= display(signal.verification)
        tr
          td Има ли потвърждение за сигнал
          td= display(signal.confirmation)
        tr
          td Поддържа ли се на мобилни устройства
          td= display(signal.responsive)
        tr
          td Това крайният приемник на сигнала ли е?
          td= display(signal.middleMan)
        tr
          th Изисквания за подаване на сигнал
          th 
        tr
        tr
          td Регистрация
          td= display(signal.requirements.registration)
        tr
          td Снимка
          td= display(signal.requirements.photo)
        tr
          td Електронен подпис
          td= display(signal.requirements.esignature)
        tr
          td Име
          td= display(signal.requirements.name)
        tr
          td E-mail
          td= display(signal.requirements.email)
        tr
          td ЕГН
          td= display(signal.requirements.egn)
        tr
          td Адрес на подателя
          td= display(signal.requirements.address)
        tr
          td Локация за сигнала
          td= display(signal.requirements.location)


  form#signal-form.form-horizontal(action="/signals/" + signal._id + "/delete", method="POST")
    .form-actions
      a.btn.btn-warning(href="/signals") Назад
      | 
      input.btn.btn-danger(type="submit", value="Изтрий")
